<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.lumstic.ashoka"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lumstic.ashoka.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lumstic.ashoka.ui.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lumstic.ashoka.ui.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lumstic.ashoka.ui.DashBoardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lumstic.ashoka.ui.SurveyDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lumstic.ashoka.ui.CompleteResponsesActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.lumstic.ashoka.ui.IncompleteResponseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lumstic.ashoka.ui.NewResponseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lumstic.ashoka.ui.HelpActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4efa97906e20cd4d6dc1bcd7e0a4e320497bbe68"/>
    </application>

</manifest>
